<div id="l2-progress-dialog" title="Progress..." style="align:center;">
    <div id="progress-label"></div>
</div>


<div id="l2-display-limit" style="align:center;display: none;">
    <br>
    Too many nodes. Would you like to thin out?
    <br>
    <br>
</div>

<div id="l2-note-dialog">
    <form>
        <div class="form-group">
            <label for="note-abstract" class="col-form-label">Abstract:</label>
            <input type="text" class="form-control" id="note-abstract" placeholder="Optional">
            <label for="note-content" class="col-form-label">Content:</label>
            <textarea class="form-control" id="note-content" placeholder="Required"></textarea>
        </div>
    </form>
</div>

<div id="l2-opinion-dialog">
    <form>
        <div class="form-group">
            <label for="dropdownMenuButton" class="col-form-label">Opinion:</label>
            <select class="form-control form-control-sm" id="opinion-opinion">
              <option value="strongly-agree">Strongly Agree</option>
              <option value="agree">Agree</option>
              <option value="neutral">Neutral</option>
              <option value="disagree">Disagree</option>
              <option value="strongly-disagree">Strongly Disagree</option>
            </select>
            <label for="opinion-explanation" class="col-form-label">Explanation:</label>
            <textarea class="form-control" id="opinion-explanation" placeholder="Optional"></textarea>
        </div>
    </form>
</div>

<div id="l2-modify-dialog">
    <form>
        <div class="form-group container-fluid" id="div-modify">
        </div>
    </form>
</div>

<div id="l2-version-stix-dialog">
    <form>
        <div class="form-group container-fluid" id="div-version-stix">
            <textarea class="form-control" id="version-stix-content" rows="10" disabled></textarea>
        </div>
    </form>
</div>

<div id="l2-reason-dialog" title="Custom Object" style="align:center;">
    <form>
        <div class="form-group">
            <label for="text-reason-val1" class="col-form-label">Value 1:</label>
            <input type="text" class="form-control" id="text-reason-val1" disabled/>
            <label for="text-reason-val2" class="col-form-label">Value 2:</label>
            <input type="text" class="form-control" id="text-reason-val2" disabled/>
            <label for="textarea-reason-rule" class="col-form-label">Rules:</label>
            <textarea class="form-control" id="textarea-reason-rule" rows="15" disabled></textarea>
        </div>
    </form>
</div>
