{% include 'header.html' %}
{% include 'l2_header.html' %}

<body class="drawer drawer--left">

{% include 'nav_header.html' %}
{% include 'detail_window.html' %}
{% include 'tutorial.html' %}
{% include 'slider_menu.html' %}
{% include 'dialog.html' %}

    <form name="url_param_form">
        <input type="hidden" id="package_id" value="{{ package_id }}">
        <input type="hidden" id="ipv4" value="{{ ipv4 }}">
        <input type="hidden" id="domain" value="{{ domain }}">
    </form>
</body>
</html>
