<div id="l2-tutorial-dialog" title="L2 Graph View help" style="align:center;display: none;">
    <table>
    <tr>
    <td>
        <img src="/static/image/l2_sample.jpg" width="432px" height="514px"/>
    </td>
    <td valign="top">
    <div>
        大きい紺色のノードがキャンペーン<br/>
        中くらいのノードが属性を取りまとめるノード<br/>
        小さいノードが各情報を表すノード<br/>
        ノードを結ぶ太い赤い線がノードの情報が一致した関係性を表す。
        <br/>
        <hr/>
        ちなみにこのダイアログはEscキーでも消えます。
        <br/>
        <hr/>
        あと、ドラッグで移動、サイズ拡大もできます。
        画像と文言は適時差し替え可能です。
    </div>
    </td>
    </tr>
    </table>
</div>
